<%- model_class = Player -%>
<div class="page-header">
  <h1>Players ranking</h1>
</div>
<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>
<table class="table table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:player_name) %></th>
      <th><%= model_class.human_attribute_name(:wins)%></th>
      <th><%= model_class.human_attribute_name(:loses)%></th>
      <th><%= model_class.human_attribute_name(:elo) %></th>
    </tr>
  </thead>
  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= link_to (image_tag player.avatar(:thumb)), player_path(player) %></td>
        <td><%= link_to player, player_path(player) %></td>
        <td><%= player.wins %></td>
        <td><%= player.loses %></td>
        <td><%= player.elo %></td>
      </tr>
    <% end %>
  </tbody>
</table>


