<%- model_class = Player -%>
<table>
<tr><td> <%=image_tag @player.avatar(:medium) %>
<td valign = top><table>
<tr><td><strong><%=@player%></strong></td></tr>
<tr><td>Wins: <%= @player.wins%></td></tr>
<tr><td>Loses: <%= @player.loses%> </td></tr>
<tr><td>Win ratio: <%= @player.ratio%></td></tr>
<tr><td>Longest win streak: <%= @player.win_streak%></td></tr>
<tr><td>Avarage points per game: <%= @player.avarage_points%> </td></tr>
<tr><td>Place in ranking: </td></tr>
</table></td></tr>
</table>

<%= render partial: 'matches/matches', locals: {matches: @matches} %>

<%= link_to t('.back', :default => t("helpers.links.back")),
              root_path, :class => 'btn btn-default'  %>